<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScheduleShowData</key>
	<array>
		<dict>
			<key>Day</key>
			<string>Monday</string>
			<key>Shows</key>
			<array>
				<dict>
					<key>Title</key>
					<string>This American Life</string>
					<key>Description</key>
					<string>Awesome stuff from Ira Glass.</string>
					<key>StartTime</key>
					<date>2012-10-16T17:00:00Z</date>
					<key>EndTime</key>
					<date>2012-10-16T18:00:00Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Day</key>
			<string>Tuesday</string>
			<key>Shows</key>
			<array/>
		</dict>
		<dict>
			<key>Day</key>
			<string>Wednesday</string>
			<key>Shows</key>
			<array/>
		</dict>
		<dict>
			<key>Day</key>
			<string>Thursday</string>
			<key>Shows</key>
			<array/>
		</dict>
		<dict>
			<key>Day</key>
			<string>Friday</string>
			<key>Shows</key>
			<array/>
		</dict>
		<dict>
			<key>Day</key>
			<string>Saturday</string>
			<key>Shows</key>
			<array/>
		</dict>
		<dict>
			<key>Day</key>
			<string>Sunday</string>
			<key>Shows</key>
			<array/>
		</dict>
	</array>
	<key>ScheduleTitle</key>
	<string>Press To Update →</string>
	<key>ScheduleVersion</key>
	<integer>-1</integer>
</dict>
</plist>
